<!DOCTYPE html>
<html>
	<title>update student </title>
	<body>
		<div>
			<h1> update student details</h1>
		</div>
		<div>
			<form th:action="@{/students/{id} (id=${student.id})}" th:object="${student}" method="POST">
				<div>
					<label>Student First name:</label>
					<input type="text" name="firstname" th:field="*{firstName}"/><br/>
					<label>Student Last name:</label>
					<input type="text" name="lastname" th:field="*{lastName}"   /><br/>
					<label>Student email Id:</label>
					<input type="email" name="email" th:field="*{email}" />
					<button type="submit" > Submit</button>
				</div>
				
			</form>
		</div>
	</body>
</html>